.table {
	margin-top: $line-height;
	margin-bottom: $line-height;
	width: 100%;
	td,
	th {
	  background-color: $white;
		border: 1px solid $black-bg;
		line-height: $line-height;
		padding: (($cell-height - $line-height) / 2) $grid-gutter (($cell-height - $line-height) / 2 - 1);
		vertical-align: top;
		&.nowrap {
			white-space: nowrap;
			width: 1%;
		}
    &.empty {
      background: transparent !important;
      border: none;
    }
	}
	> thead {
		td,
		th {
			background-color: $white-bg;
			color: $black-sec;
			vertical-align: bottom;
		}
	}
}

.table-stripe > tbody > tr:nth-child(odd) > td {
	background-color: $white-bg-light;
}

.table-hover > tbody > tr:hover > td {
	background-color: $white-bg-dark;
}

// responsive
.table-responsive {
  margin-top: $line-height;
  margin-bottom: $line-height;
  min-height: 0.01%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  .table {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.table-inline {
  margin-top: 10px;
  margin-bottom: 10px;

  th,
  td {
    border: none;
  }

  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        background-color: transparent;
        padding: 0 $grid-gutter/2;
        line-height: $line-height;
        vertical-align: middle;
      }
    }
  }

  // Bottom align for column headings
  > thead > tr > th {
    border-bottom: 2px solid $black-bg;
    font-weight: 700;
  }

  &.table-bordered > tbody > tr > td {
    border-bottom: 1px solid $black-bg;
  }
}